@charset "utf-8";

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
         url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
         url('../fonts/Montserrat-SemiBold.woff') format('woff'),
         url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
         url('../fonts/Montserrat-Regular.ttf') format('truetype'),
         url('../fonts/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
         url('../fonts/Montserrat-Medium.ttf') format('truetype'),
         url('../fonts/Montserrat-Medium.woff') format('woff'),
         url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg'),
         url('../fonts/Montserrat-Light.ttf') format('truetype'),
         url('../fonts/Montserrat-Light.woff') format('woff'),
         url('../fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.eot');
    src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg'),
         url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
         url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
         url('../fonts/Montserrat-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg'),
         url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
         url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
         url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
         url('../fonts/Montserrat-Bold.ttf') format('truetype'),
         url('../fonts/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.eot');
    src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg'),
         url('../fonts/Montserrat-Black.ttf') format('truetype'),
         url('../fonts/Montserrat-Black.woff') format('woff'),
         url('../fonts/Montserrat-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg'),
         url('../fonts/Montserrat-Thin.ttf') format('truetype'),
         url('../fonts/Montserrat-Thin.woff') format('woff'),
         url('../fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

html,
body {
	 position: relative;
}
body {
  	min-width: 300px;
  	text-align: center;
  	overflow-x: hidden;
  	-webkit-text-size-adjust: none;
  	color: #000000;
    font-family: 'Montserrat', sans-serif;
    background-color: #f8faff;
}
body.no-scroll {
  	height: 100vh !important;
  	overflow: hidden !important;
}
body .body-wrap {
    box-sizing: border-box;
    overflow-x: hidden;
}
body.no-scroll .body-wrap {
    height: 100vh !important;
    overflow: hidden !important;
}
a{
  	text-decoration: none;
  	color: #000000;
  	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
button {
	 -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
button:hover {
    cursor: pointer;
}
li{
	 list-style: none;
}
h1,h2,h3,h4,h5,h6{
	 font-weight: normal;
}
label.error{
	 display: none !important;
}
input.error,textarea.error{
	 border-color: #ff0000 !important;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.container{
	position: relative;
	max-width: 1230px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder, input:-moz-placeholder {
	color: #b0b8cd;
}
.mobile-btn-wrap {
    display: none;
    position: relative;
    width: 80px;
    height: 22px;
}
.mobile-btn {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 26px;
	height: 22px;
	z-index: 1;
    cursor: pointer;
}
.mobile-btn .mobile-btn-el{
	position: absolute;
	border-radius: 4px;
	top: 9px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #253c77;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #253c77;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #253c77;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn.active::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-btn.active::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-btn.active .mobile-btn-el {
	opacity: 0;
}
.close-btn {
	display: none;
	position: absolute;
	width: 26px;
	height: 22px;
	z-index: 100;
    cursor: pointer;
    left: 30px;
    top: 45px;
}
.close-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #253c77;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn::before {
	content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #253c77;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-menu {
	display: none;
	position: fixed;
	z-index: 100;
	top: -200%;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	padding: 15px 30px 70px;
	background-color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-menu.active {
	top: 0;
}
.mobile-menu .nav {
    display: block;
    margin-top: 20px;
    text-align: left;
}
.mobile-menu .nav li {
    border-bottom: 1px solid #253c77;
    font-weight: 500;
    font-size: 14px;
}
.mobile-menu .nav li:last-child {
    border: 0;
}
.mobile-menu .nav li a, .mobile-menu .nav li span {
    display: block;
    padding: 10px 0;
    position: relative;
    color: #253c77;
}
.mobile-menu .nav > li.nav-drop:hover {
    cursor: pointer;
}
.mobile-menu .nav > li.nav-drop > span {
    padding-right: 24px;
}
.mobile-menu .nav > li.nav-drop > span:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 0;
    top: calc(50% - 7px);
    background-image: url('../i/nav-arr.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.mobile-menu .nav > li.nav-drop > .nav-drop-wrap {
    display: block;
    width: 100%;
    height: 100vh;
    padding: 90px 30px 70px;
    background-color: #ffffff;
    position: fixed;
    left: -200%;
    top: 0;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-menu .nav > li.nav-drop.active > .nav-drop-wrap {
    left: 0;
}
.mobile-menu .nav-drop-wrap .nav {
    margin-top: 0;
}
.mobile-menu .nav-back {
    display: block;
    padding-left: 14px;
    font-size: 12px;
    color: #253c77;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 48px;
}
.mobile-menu .nav-back:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: calc(50% - 6px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../i/nav-arr.svg');
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.policy-text {
    display: inline-block;
    max-width: 100%;
    font-size: 12px;
    color: #b0b8cd;
    line-height: 1.2;
    position: relative;
    text-align: left;
    padding-left: 35px;
    margin-bottom: 26px;
}
.policy-text a {
    color: #8cca11;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.policy-text a:hover {
    color: #fe7a3c;
}
.policy-text .radio-btn {
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    border: 2px solid #edf1f8;
    background-color: #ffffff;
    border-radius: 0;
    left: 0;
    top: calc(50% - 13px);
    box-sizing: border-box;
}
.policy-text .radio-btn.error {
    border-color: #ff0000;
}
.policy-text .radio-btn:hover {
    cursor: pointer;
}
.policy-text .radio-btn.active::before {
    content: '';
    display: block;
    width: 9px;
    height: 2px;
    position: absolute;
    left: 2px;
    top: 12px;
    background-color: #8cca11;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.policy-text .radio-btn.active::after {
    content: '';
    display: block;
    width: 14px;
    height: 2px;
    position: absolute;
    left: 7px;
    top: 10px;
    background-color: #8cca11;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header {
    z-index: 100;
}
.header-main {
    padding: 15px 0;
}
.header-wrap, .header-contacts {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    width: 270px;
}
.header-logo img {
    display: block;
    max-width: 100%;
}
.header-addres {
    width: calc(50% - 270px);
    text-align: left;
    font-size: 14px;
    line-height: 1.2;
    color: #253c77;
    font-weight: 500;
    padding: 0 10px;
}
.header-addres span {
    font-size: 18px;
}
.header-contacts {
    width: 40%;
    flex-wrap: wrap;
}
.header-contacts .icons {
    display: none;
    width: 80px;
    justify-content: space-between;
    align-items: center;
}
.header-contacts .icons a {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
}
.header-contacts .icons a img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.header-phone {
    font-size: 32px;
    font-weight: 700;
}
.header-phone a {
    color: #253c77;
}
.header-callback {
    font-size: 18px;
    font-weight: 700;
    color: #8cca11;
}
.header-callback a {
    color: #8cca11;
}
.header-callback a:hover {
    color: #fe7a3c;
}
.header-bot {
    background-color: #253c77;
    width: 100%;
}
.header.scroll .header-bot {
    position: fixed;
    left: 0;
    top: 0;
}
.header-nav > ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav > ul > li {
    position: relative;
    display: block;
    padding: 14px 5px;
}
.header-nav > ul > li:first-child {
    padding-left: 0;
}
.header-nav > ul > li:last-child {
    padding-right: 0;
}
.header-nav > ul > li > a, .header-nav > ul > li > span {
    position: relative;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
}
.header-nav > ul > li > a:hover {
    opacity: 0.5;
}
.header-nav > ul > li.li-drop:hover {
    cursor: default;
}
.header-nav > ul > li.li-drop:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(178.8deg,#a3db33 13.39%,#84c209 86.61%);
    position: absolute;
    left: 0;
    bottom: 0;
}
.header-nav > ul > li.li-drop > span {
    padding-right: 20px;
}
.header-nav > ul > li.li-drop > span:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 0;
    border-top-color: #ffffff;
    position: absolute;
    right: 0;
    top: calc(50% - 2.5px);
}
.header .header-nav .drop {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 163px;
    width: 100%;
    height: calc(100vh - 163px);
    background-color: #eef3f6;
}
.header.scroll .header-nav .drop {
    top: 50px !important;
    height: calc(100vh - 50px) !important;
}
.header .header-nav > ul > li.li-drop:hover .drop {
    display: block;
}
.header .header-nav > ul > li.li-drop.no-hover .drop {
  display: none !important;
}
.header .header-nav .drop .drop-wrap {
    position: relative;
    max-width: 1170px;
    min-height: 100%;
    margin: 0 auto;
}
.header .header-nav .drop .drop-close {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 10;
  cursor: pointer;
}
.header .header-nav .drop .drop-close:before,
.header .header-nav .drop .drop-close:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #253c77;
  border-radius: 100px;
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
}
.header .header-nav .drop .drop-close:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header .header-nav .drop .drop-close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header .header-nav .drop .drop-wrap .drop-list {
    width: 310px;
    padding: 45px 0;
    text-align: left;
}
.header .header-nav .drop .drop-wrap .drop-list > li {
    border-radius: 5px 0 0 5px;
    padding: 10px 13px;
    cursor: pointer;
    color: #253c77;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.header .header-nav .drop .drop-wrap .drop-list > li > a,
.header .header-nav .drop .drop-wrap .drop-list > li > span {
    color: #253c77;
}
.header .header-nav .drop .drop-wrap .drop-list > li:hover {
    background-color: hsla(0,0%,100%,0.4);
}
.header .header-nav .drop .drop-wrap .drop-list > li.active {
    background-color: #ffffff;
}
.header .header-nav .drop .drop-wrap .subdrop {
    display: none;
    width: calc(100% - 310px);
    min-height: 100%;
    padding: 45px 0 45px 30px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    cursor: default;
}
.header .header-nav .drop .drop-wrap .subdrop:after {
    content: '';
    display: block;
    width: 10000px;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #ffffff;
}
.header .header-nav .drop .drop-wrap .drop-list > li.active .subdrop {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.header .header-nav .drop .drop-wrap .subdrop ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: calc(100% - 300px);
}
.header .header-nav .drop .drop-wrap .subdrop ul li {
    width: calc(50% - 15px);
    padding: 10px 0;
    font-size: 14px;
    color: #253c77;
    font-weight: 500;
    cursor: default;
}
.header .header-nav .drop .drop-wrap .subdrop ul li a {
    color: #253c77;
}
.header .header-nav .drop .drop-wrap .subdrop ul li a:hover {
    color: #8cca11;
}
.header .header-nav .drop .drop-wrap .subdrop .subdrop-banner {
    width: 250px;
}
.header .header-nav .drop .drop-wrap .subdrop .subdrop-banner img {
    display: block;
    max-width: 100%;
}

.footer {
    background-image: linear-gradient(154.98deg,#253c77 12.5%,#4971d0 95.58%);
    background-color: #253c77;
    padding: 50px 0;
    text-align: left;
}
.footer-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-info {
    width: 320px;
}
.footer-nav {
    width: calc(100% - 370px);
}
.footer-phone {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 10px;
}
.footer-phone a {
    color: #ffffff;
}
.footer-addres {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.footer-mail {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 23px;
}
.footer-mail a {
    color: #ffffff;
}
.footer-phone a:hover, .footer-mail a:hover,
.footer-info-list li a:hover,
.footer-serv-item ul li a:hover,
.footer-serv-item ul.footer-serv-hot li a:hover span,
.footer-nav-list li a:hover {
    opacity: 0.5;
}
.footer-callback {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 23px;
}
.footer-callback a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-callback a .icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 10px;
    background-color: #ffffff;
}
/*.footer-callback a .icon, .footer-callback a .icon svg path {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}*/
.footer-callback a span {
    display: block;
    margin-left: 10px;
    color: #ffffff;
    font-size: 16px;
}
.footer-callback a:hover .icon {
    background-image: linear-gradient(174.5deg,#a4d73e 13.39%,#88bd1f 86.61%);
}
.footer-callback a:hover .icon svg path {
    fill: #ffffff !important;
}
.footer-info-list {
    margin-bottom: 17px;
}
.footer-info-list li {
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 5px;
}
.footer-info-list li:last-child {
    margin-bottom: 0;
}
.footer-info-list li a {
    color: #ffffff;
}
.footer-social {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.footer-social a {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.footer-social a:last-child {
    margin-right: 0;
}
.footer-social a img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.footer-social a:hover {
    opacity: 0.8;
}
.footer-serv {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer-serv-item {
    width: calc(50% - 15px);
}
.footer-serv-item ul li {
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer-serv-item ul li a {
    color: #ffffff;
}
.footer-serv-item ul.footer-serv-hot li a {
    display: inline-block;
    position: relative;
    padding-right: 25px;
}
.footer-serv-item ul.footer-serv-hot li a span {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.footer-serv-item ul.footer-serv-hot li a:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    background-image: url('../i/flame.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.footer-serv-item ul.footer-serv-hot li a:hover {
    opacity: 1;
}
.footer-nav-list {
    margin-top: 20px;
}
.footer-nav-list li {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
}
.footer-nav-list li:last-child {
    margin-bottom: 0;
}
.footer-nav-list li a {
    color: #ffffff;
}
.footer-cookie {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid hsla(0,0%,100%,0.1);
    text-align: left;
}
.footer-cookie p {
    display: block;
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.45);
}
.footer-cookie p:last-child {
    margin-bottom: 0;
}
.footer-cookie p a {
    color: rgba(255, 255, 255, 0.45);
}
.footer-cookie p a:hover {
    color: rgba(255, 255, 255, 0.3);
}

.title {
    display: block;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
    color: #253c77;
}
.ekr-blue .title {
    color: #ffffff;
}
.title span {
    color: #fe7a3c;
}
.title-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.title-wrap .title {
    width: 60%;
}
.title-wrap .uniq {
    width: 20%;
    font-size: 10px;
    color: #253c77;
    opacity: 0.35;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: left;
}
.ekr-blue .title-wrap .uniq {
    color: #ffffff;
}
.title-wrap .uniq.big {
    width: 22%;
}
.title-wrap .uniq.big + .title {
    width: 56%;
}
.subtitle {
    display: block;
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.2;
    color: #253c77;
}
.ekr-blue .subtitle {
    color: #ffffff;
}
.uniq-solo {
    display: inline-block;
    padding: 9px 30px;
    border-radius: 100px;
    color: #ffffff;
    font-size: 10px;
    line-height: 1.2;
    vertical-align: top;
    font-weight: 600;
    background-color: hsla(0,0%,100%,0.35);
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.uniq-solo-2 {
    display: block;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 600;
    color: #253c77;
    opacity: 0.35;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
}
.ekr-blue .uniq-solo-2 {
    color: #ffffff;
}

.btn {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 19px 10px;
    background-image: linear-gradient(174.5deg,#a4d73e 13.39%,#88bd1f 86.61%);
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.btn:hover {
    box-shadow: inset 0 0 0 1000px #8cca11;
}
.btn.btn-orange {
    background-image: linear-gradient(351.21deg,#fd8a28,#fd6554);
    background-color: #fd6f4a;
}
.btn.btn-orange:hover {
    box-shadow: inset 0 0 0 1000px #fd6f4a;
}

.ekr {
    padding: 50px 0;
}
.ekr.ekr-left {
    text-align: left;
}
.ekr.first-ekr {
    padding-top: 0;
    padding-bottom: 100px;
}
.ekr.no-pad-bot {
    padding-bottom: 0 !important;
}
.ekr.ekr-blue {
    background-image: linear-gradient(154.98deg,#253c77 12.5%,#4971d0 95.58%);
    background-color: #253c77;
}

.b-text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5;
    color: #253c77;
}
.ekr-blue .b-text {
    color: #ffffff;
}
.b-text p {
    display: block;
    margin-bottom: 20px;
}
.b-text p:last-child {
    margin-bottom: 0;
}
.b-text a {
    color: #8cca11;
    border-bottom: 1px dotted #253c77;
}
.b-text a:hover {
    color: #fe7a3c;
    border-color: #fe7a3c;
}

.face {
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}
.face-image {
    background-size: cover;
    background-image: url('../i/face-bg.png');
    background-position: center;
    width: 100%;
    height: 480px;
}
.face-content {
    display: block;
    width: 60%;
    max-width: 540px;
    background-color: #ffffff;
    padding: 60px 10px;
    box-shadow: 0 1px 38px rgba(73,113,208,.2);
    position: absolute;
    left: 60px;
    bottom: -50px;
}
.face-content.face-bread {
    padding: 30px 10px 60px;
}
.face-content-wrap {
    max-width: 430px;
    margin: 0 auto;
}
.face .line {
    display: block;
    width: 55px;
    height: 3px;
    margin-bottom: 50px;
    background-image: linear-gradient(174.5deg,#a4d73e 13.39%,#88bd1f 86.61%);
}
.face .title {
    font-size: 34px;
}
.face .descr {
    display: block;
    margin: 30px 0 75px;
    line-height: 1.2;
    color: #253c77;
    font-size: 18px;
}

.breadcrumbs {
    margin: 0 auto 5px;
}
.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    font-size: 8px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 1.4px;
    font-weight: 700;
    color: rgba(37, 60, 119, 0.5);
}
.breadcrumbs li a {
    color: rgba(37, 60, 119, 0.8);
}
.breadcrumbs li a:hover {
    color: rgba(37, 60, 119, 0.5);
}

.preim {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 1020px;
    margin: 40px auto 0;
}
.preim li {
    position: relative;
    width: calc(50% - 15px);
    padding: 60px 30px 30px;
    background-color: #ffffff;
    box-shadow: 0 1px 38px rgba(73,113,208,.2);
    margin: 30px 0;
    text-align: left;
}
.preim li .icon {
    width: 60px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(73,113,208,.1), 0 2px 10px rgba(73,113,208,.1);
    background-color: #f8faff;
    position: absolute;
    left: 30px;
    top: -30px;
}
.preim li .icon img {
    display: block;
    max-width: 32px;
    max-height: 28px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.preim li .name {
    display: block;
    line-height: 1.2;
    color: #253c77;
    font-size: 16px;
    font-weight: 800;
}
.preim li .descr {
    display: block;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 16px;
    color: #253c77;
}

.img-and-text {
    margin: 68px auto 0;
    max-width: 980px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}
.img-and-text .image {
    width: calc(50% - 15px);
}
.img-and-text .image img {
    display: block;
    max-width: 100%;
}
.img-and-text .text {
    width: calc(50% - 15px);
}
.img-and-text .text ul li {
    position: relative;
    margin-bottom: 30px;
    padding-left: 26px;
    font-size: 16px;
    color: #253c77;
}
.img-and-text .text ul li:last-child {
    margin-bottom: 0;
}
.img-and-text .text ul li:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    left: 0;
    top: 6px;
    background-image: linear-gradient(174.5deg,#a4d73e 13.39%,#88bd1f 86.61%);
}
.img-and-text .btn {
    max-width: 300px;
    margin-top: 30px;
}

.banner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px auto 0;
}
.banner .image {
    width: calc(50% - 15px);
}
.banner .image img {
    display: block;
    max-width: 100%;
}
.banner .text {
    width: calc(50% - 15px);
}
.banner .text .banner-prices {
    font-size: 18px;
    margin-top: 20px;
    color: #ffffff;
}
.banner .text .banner-prices span {
    font-size: 24px;
    font-weight: 700;
    color: #a4d73e;
    padding-left: 10px;
}
.banner .text ul {
    margin-top: 30px;
}
.banner .text ul li {
    position: relative;
    margin-bottom: 30px;
    padding-left: 26px;
    font-size: 16px;
    color: #ffffff;
}
.banner .text ul li:last-child {
    margin-bottom: 0;
}
.banner .text ul li:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    left: 0;
    top: 6px;
    background-image: linear-gradient(174.5deg,#a4d73e 13.39%,#88bd1f 86.61%);
}
.banner .btn {
    max-width: 300px;
    margin-top: 30px;
}


.services-wrap {
    background-color: #ffffff;
    padding-bottom: 50px;
    margin-top: 40px;
}
.services-filter-wrap {
    position: relative;
    width: 100%;
    top: -18.5px;
}
.services-filter-text {
    display: none;
    position: relative;
    padding: 15px 34px 15px 10px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    font-size: 14px;
    color: #253c77;
    text-align: left;
    cursor: pointer;
    font-weight: 500;
}
.services-filter-text.active {
    border-radius: 5px 5px 0 0;
}
.services-filter-text:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 10px;
    top: calc(50% - 7px);
    background-image: url('../i/nav-arr.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.services-filter-text.active:before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.services-filter-text span {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.services-filter {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.services-filter li {
    padding: 12px 15px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(25,48,144,0.1);
    text-transform: uppercase;
    color: #253c77;
    font-size: 10px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.6px;
    background-color: #ffffff;
}
.services-filter li.active {
    background-color: #4971d0;
    color: #ffffff;
}
.service {
    display: none;
    text-align: left;
}
.service.active {
    display: block;
}
.service-cat {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: #253c77;
    margin-bottom: 15px;
}
.service-cat a {
    color: #253c77;
    border-bottom: 2px solid transparent;
}
.service-cat a:hover {
    border-color: #8cca11;
}
.service ul li {
    font-size: 16px;
    color: #253c77;
    line-height: 1.2;
    font-weight: 700;
    border-bottom: 1px solid #ebebeb;
}
.service ul li:last-child {
    border: 0;
}
.service ul li a {
    display: block;
    color: #253c77;
    padding: 20px 120px 20px 70px;
    position: relative;
}
.service ul li a:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 70px;
    top: calc(50% - 10px);
    background-image: url('../i/serv-arr.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.service ul li a:hover {
    color: #8cca11;
}

.person {
    margin-top: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.person-wrap .title {
    display: none;
}
.person .image {
    width: calc(50% - 15px);
    order: 1;
}
.person .image img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid #253c77;
    margin: 0 auto 20px;
}
.person .image .name {
    font-size: 20px;
    line-height: 1.2;
    color: #253c77;
    margin-bottom: 10px;
}
.person .image .position {
    font-size: 16px;
    line-height: 1.2;
    color: #8cca11;
}
.person .text {
    width: calc(50% - 15px);
    text-align: left;
}
.person .text .title {
    display: block;
}

.partners-wrap {
    background-color: #ffffff;
    margin-top: 110px;
    padding-bottom: 50px;
}
.partners {
    display: inline-block;
    width: calc(100% - 50px);
    padding: 20px 30px;
    margin: -80px 25px 0;
    box-shadow: 0 0 10px rgba(25,48,144,.1);
    background-color: #ffffff;
}
.partner {
    position: relative;
    height: 120px;
    margin: 0 15px;
}
.partner img {
    display: block;
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.partners .slick-arrow {
    display: block;
    position: absolute;
    z-index: 10;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    background-color: transparent;
    border-radius: 50%;
    font-size: 0;
    border: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.partners .slick-prev {
    left: -25px;
    background-image: url('../i/arr-prev.svg');
}
.partners .slick-next {
    right: -25px;
    background-image: url('../i/arr-next.svg');
}
.partners-more {
    margin-top: 40px;
    display: inline-block;
    color: #8cca11;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 2px dotted #8cca11;
    padding-bottom: 4px;
}
.partners-more:hover {
    color: #fe7a3c;
    border-color: #fe7a3c;
}

.form-wrap {
    padding: 60px 15px;
    max-width: 900px;
    margin: 40px auto 0;
    background-color: #ffffff;
}
.b-form {
    max-width: 360px;
    margin: 0 auto;
    text-align: left;
}
.b-input {
    margin-bottom: 20px;
}
.b-input input, .b-input textarea {
    display: block;
    resize: none;
    border: 0;
    font-size: 18px;
    padding: 19px 15px;
    font-weight: 600;
    color: #253c77;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #eff4ff;
    width: 100%;
}
.b-input textarea {
    line-height: 1.2;
}
.b-input label {
    display: block;
    font-size: 16px;
    margin-bottom: 15px;
    color: #253c77;
}

.seo-wrap {
    background-color: #ffffff;
    padding: 50px 70px;
    box-shadow: 0 0 10px rgba(25,48,144,.1);
    margin: 30px auto 0;
    text-align: left;
    max-width: 900px;
}
.seo-wrap .b-text {
    margin-top: 0;
}

.b-info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 40px;
}
.b-info-item {
    width: 100%;
    box-shadow: 0 1px 38px rgba(73,113,208,0.2);
    padding: 30px;
    background-color: #ffffff;
    margin-bottom: 30px;
    text-align: left;
}
.b-info-item.small {
    width: calc(50% - 15px);
}
.b-info-item:last-child {
    margin-bottom: 0;
}
.b-info-item .line {
    width: 45px;
    height: 3px;
    background-image: linear-gradient(174.5deg,#a4d73e 13.39%,#88bd1f 86.61%);
    margin-bottom: 25px;
}
.b-info-item .item-title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #253c77;
    line-height: 1.2;
    margin-bottom: 16px;
}
.b-info-item .item-title span {
    color: #8cca11;
}
.b-info-item .item-text {
    color: #253c77;
    line-height: 1.5;
    font-size: 14px;
}
.b-info-item .item-text ul {
    padding-left: 20px;
}
.b-info-item .item-text ul li {
    padding-left: 15px;
    position: relative;
}
.b-info-item .item-text ul li:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 8px;
    background-image: linear-gradient(174.5deg,#a4d73e 13.39%,#88bd1f 86.61%);
}

.b-cards {
    margin-top: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: left;
}
.b-cards li {
    position: relative;
    width: calc(100%/3 - 20px);
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0 1px 38px rgba(73,113,208,0.2);
    background-color: #ffffff;
    padding: 20px 30px 80px;
    border-radius: 5px;
}
.b-cards li:nth-child(3n) {
    margin-right: 0;
}
.b-cards li .image {
    position: relative;
    height: 240px;
}
.b-cards li .image img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.b-cards li .item-title {
    display: block;
    font-size: 20px;
    color: #253c77;
    margin-top: 12px;
    font-weight: 700;
}
.b-cards li .more {
    display: block;
    color: #8cca11;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.b-cards li .more .arr {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.b-cards li .more:hover path {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.b-cards li .more:hover {
    color: #fe7a3c;
}
.b-cards li .more:hover .arr path {
    fill: #fe7a3c !important;
}

.faq {
    background-color: #ffffff;
    margin-top: 20px;
    padding-top: 20px;
}
.faq-list {
    margin: 0 auto;
    max-width: 900px;
    text-align: left;
}
.faq-list li {
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
}
.faq-list li:last-child {
    border: 0;
}
.faq-list li .qwestion {
    display: block;
    padding: 20px 120px 20px 70px;
    color: #253c77;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}
.faq-list li .qwestion:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 10px);
    right: 70px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../i/serv-arr.svg');
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.faq-list li.active .qwestion:before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.faq-list li .answer {
    display: block;
    overflow: hidden;
    max-height: 0;
    color: #253c77;
    font-size: 16px;
    line-height: 1.4;
    padding: 0 70px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.faq-list li .answer p {
    display: block;
    margin-bottom: 16px;
}
.faq-list li .answer p:last-child {
    margin-bottom: 0;
}
.faq-list li.active .answer {
    padding-top: 16px;
    padding-bottom: 20px;
    max-height: 5000px;
}




@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	.header-addres {
        width: auto;
    }
    .header-contacts {
        display: block;
        width: auto;
        text-align: right;
    }

    .services-filter li {
        width: calc(20% - 8px);
    }
}
@media screen and (max-width: 1024px){
    .body-wrap {
        padding-top: 112px;
    }
    .mobile-btn-wrap, .mobile-btn, .close-btn, .mobile-menu {
        display: block;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    }
    .header-bot, .header-addres, .header-phone, .header-callback {
        display: none;
    }
    .header-contacts .icons {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .mobile-menu .header-logo {
        margin: 0 auto;
    }
    .mobile-menu .header-addres {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        padding: 0;
        font-size: 12px;
    }
    .mobile-menu .header-addres span {
        font-size: 16px;
    }
    .mobile-menu .header-phone {
        display: block;
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
    }
    .mobile-menu .header-callback {
        display: block;
        font-size: 16px;
        margin-top: 10px;
    }

    .footer-serv {
        display: block;
    }
    .footer-serv-item {
        width: 100%;
    }

    .ekr.first-ekr {
        padding-bottom: 30px;
    }

    .title {
        font-size: 25px;
    }
    .title-wrap {
        max-width: 710px;
        margin: 0 auto;
    }
    .title-wrap .uniq {
        margin-bottom: 30px;
        font-size: 8px;
    }
    .subtitle {
        font-size: 16px;
    }

    .face {
        padding: 0;
    }
    .face-image {
        background-position: 90% 0;
    }
    .face-content {
        position: relative;
        max-width: none;
        left: 0;
        bottom: 0;
        width: calc(100% - 60px);
        margin: -150px auto 0;
    }
    .face-content.face-bread {
        padding: 60px 10px;
    }

    .breadcrumbs {
        display: none;
    }

    .preim {
        margin: 30px auto 0;
        max-width: 680px;
    }
    .preim li {
        width: 100%;
    }

    .img-and-text {
        display: block;
        max-width: 710px;
        margin: 20px auto 0;
    }
    .img-and-text .image {
        width: 100%;
        max-width: 370px;
        margin: 0 auto 50px;
    }
    .img-and-text .text {
        width: 100%;
        max-width: 370px;
        margin: 0 auto;
    }
    .img-and-text .text ul li {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .img-and-text .btn {
        max-width: none;
    }

    .service-cat {
        font-size: 20px;
    }
    .services-wrap {
        margin-top: 50px;
    }
    .services-filter-wrap {
        margin: 0 auto;
        max-width: 360px;
        top: -25px;
    }
    .services-filter-text {
        display: block;
    }
    .services-filter-text.active + .services-filter {
        display: block;
    }
    .services-filter {
        display: none;
        width: 100%;
        border-radius: 0 0 5px 5px;
        background-color: #ffffff;
        padding: 0;
        border: 1px solid #ebebeb;
        border-top: 0;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 1;
        text-align: left;
    }
    .services-filter li {
        text-transform: none;
        font-size: 12px;
        padding: 10px;
        border-radius: 0;
        width: 100%;
        box-shadow: none;
        font-weight: 500;
    }

    .b-info-item.small {
        width: 100%;
    }

    .b-cards {
        display: block;
        text-align: center;
    }
    .b-cards li {
        width: 100%;
        max-width: 700px;
        margin: 0 auto 30px;
        padding: 20px 30px 30px;
    }
    .b-cards li:nth-child(3n) {
        margin-right: auto;
    }
    .b-cards li:last-child {
        margin-bottom: 0;
    }
    .b-cards li .more {
        display: inline-block;
        position: relative;
        margin-top: 20px;
        left: 0;
        top: 0;
    }
}
@media screen and (max-width: 768px){
    .container {
        padding: 0 10px;
    }
    .body-wrap {
        padding-top: 81px;
    }
    .ekr.first-ekr {
        padding-bottom: 0;
    }
    .header-main {
        padding: 10px 0;
    }
    .header-logo {
        width: 200px;
    }
    .header-contacts .icons, .mobile-btn-wrap {
        width: 50px;
    }
    .header-contacts .icons a {
        width: 20px;
        height: 20px;
    }
    .close-btn {
        top: 30px;
        left: 10px;
    }
    .mobile-menu {
        padding: 10px 10px 70px;
    }
    .mobile-menu .nav > li.nav-drop > .nav-drop-wrap {
        padding: 70px 10px;
    }
    .mobile-menu .nav-back {
        right: 10px;
        top: 33px;
    }

    .footer {
        padding: 30px 0;
        text-align: center;
    }
    .footer-wrap {
        display: block;
    }
    .footer-info {
        width: 100%;
    }
    .footer-nav {
        width: 100%;
        margin-top: 30px;
    }
    .footer-social {
        justify-content: center;
    }
    .footer-phone {
        font-size: 24px;
    }
    .footer-serv-item ul li {
        font-size: 16px;
    }
    .footer-addres, .footer-mail {
        font-size: 14px;
    }

    .title {
        font-size: 22px;
    }
    .title-wrap {
        display: block;
        max-width: 540px;
    }
    .title-wrap .uniq {
        width: 100% !important;
    }
    .title-wrap .title {
        width: 100% !important;
    }
    .subtitle {
        margin-top: 16px;
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 16px 10px;
    }

    .b-text {
        margin-top: 20px;
        font-size: 14px;
    }
    .b-text p {
        margin-bottom: 15px;
    }

    .preim {
        max-width: 580px;
    }
    .preim li {
        margin: 22.5px 0;
    }

    .service-cat {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .service ul li {
        font-size: 14px;
    }
    .service ul li a {
        padding: 10px 54px 10px 20px;
    }
    .service ul li a:before {
        width: 14px;
        height: 14px;
        right: 20px;
        top: calc(50% - 7px);
    }

    .partners {
        padding: 20px 30px;
    }
    .partner {
        margin: 0 5px;
    }

    .form-wrap {
        padding: 30px 15px;
        margin-top: 20px;
    }
    .b-input input, .b-input textarea {
        padding: 17px 15px;
        font-size: 14px;
    }
    .b-input label {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .banner-wrap {
        max-width: 540px;
        margin: 0 auto;
    }
    .banner {
        display: block;
        margin-top: 25px;
    }
    .banner .image {
        display: none;
    }
    .banner .text {
        width: 100%;
    }
    .banner .text .banner-prices {
        margin-top: 15px;
        font-size: 14px;
    }
    .banner .text .banner-prices span {
        font-size: 18px;
        padding-left: 0;
    }
    .banner .text ul li {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .banner .btn {
        max-width: none;
    }

    .person-wrap {
        text-align: center;
    }
    .person {
        display: block;
        margin-top: 20px;
    }
    .person-wrap .title {
        display: block;
        margin-top: 30px;
    }
    .person .text .title {
        display: none;
    }
    .person .image, .person .text {
        width: 100%;
    }
    .person .image .name {
        font-size: 16px;
    }
    .person .image .position {
        font-size: 14px;
    }

    .seo-wrap {
        padding: 15px 10px;
    }

    .b-info-item {
        padding: 20px 15px;
    }
    .b-info-item .item-text ul {
        padding-left: 0;
    }

    .b-cards {
        margin-top: 30px;
    }
    .b-cards li {
        margin: 0 auto 15px;
        padding: 10px 15px 20px;
        max-width: 460px;
    }
    .b-cards li .item-title {
        font-size: 16px;
    }
    .b-cards li .more {
        margin-top: 15px;
    }

    .faq-list li .qwestion {
        font-size: 14px;
        padding: 10px 54px 10px 20px;
    }
    .faq-list li .qwestion:before {
        width: 14px;
        height: 14px;
        top: calc(50% - 7px);
        right: 20px;
    }
    .faq-list li .answer {
        padding: 0 20px;
        font-size: 14px;
    }
    .faq-list li .answer p {
        margin-bottom: 14px;
    }
    .faq-list li.active .answer {
        padding-top: 14px;
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 600px){
    .face-image {
        height: 280px;
    }
    .face-content {
        width: calc(100% - 30px);
        margin-top: -90px;
        padding: 30px 10px;
    }
    .face-content.face-bread {
        padding: 30px 10px;
    }
    .face-content-wrap {
        max-width: 250px;
    }
    .face .line {
        margin-bottom: 20px;
    }
    .face .title {
        font-size: 18px;
    }
    .face .descr {
        margin: 20px auto 30px;
        font-size: 14px;
    }
}
@media screen and (max-width: 360px){
    .body-wrap {
        padding-top: 62px;
    }
    .header-logo {
        width: 140px;
    }
    .close-btn {
        top: 20px;
    }
    .mobile-menu .nav > li.nav-drop > .nav-drop-wrap {
        padding: 60px 10px 70px;
    }
    .mobile-menu .nav-back {
        top: 23px;
    }
}